/* ===global=== */
:root {
    --main-green: #278834;
    --main-section-padding: 70px;
    --main-white-section-bg: #F5F1F0 ;
    --dark-text: #283C47;
    --main-color: #273B46;
}
html {
    overflow-x: hidden;
}
body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color:inherit
}
/* ===frame work=== */
.main-title-icon {
    width: 35px;
}
@media screen and (min-width: 768px) {
    .main-title-icon {
            width: 100px;
        }
}
.white-bg-button {
    border: 1px solid var(--main-color);
}
.dark-bg-button {
    border:1px solid #fff;
}
.dark-hover {
    transition: background-color 0.3s, color 0.3s;
}
.dark-hover:hover {
    background-color: white;
    color: #000 !important;
}
/* component */
.caro {
    position: relative;
}
.caro .next.owl.carousel,
.caro .box {
    background-color: #FFFFFF1A;
    font-size: 10px;
    color: #fff;
    height: 130px;
}
.caro .owl-nav {
    position: absolute;
    top: -50px;
    right: 0;
    display: flex;
    gap: 20px;
}

.caro .owl-nav button span {
    border: 1px solid var(--main-green);
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.caro .owl-nav button span:hover {
    background-color: var(--main-green);
}

.caro-header {
    align-self: self-start;
    margin: 0;
    margin-top: 70px;
    margin-bottom: 15px;
    max-width: 200px;
}

.caro .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.caro .owl-dots button span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #FFFFFF1A;
    ;
}

.caro .owl-dots button.active span {
    background-color: var(--main-green);
}

/* side slider */
.slider-section {
    background-image: url("../images/consulting-page/dotts/side-slider.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
}
.side-slider {
    background-color: var(--main-color);
    padding: 80px 50px;
    transform: translateX(5%);
    position: relative;
}
@media screen and (min-width: 992px) {
    .side-slider {
        transform: translateX(50%);
    }
}
.side-slider .caro .owl-dots {
    margin-top: 15px;
    position: relative;
    left: 0;
}
@media screen and (min-width: 992px) {
    .side-slider .caro .owl-dots {
            margin-top: 20px;
            left: -33%;
        }
}
@media screen and (min-width: 768px) {
    .side-slider .caro .owl-dots {
            margin-top: 20px;
        }
}
.side-slider .card {
    background-color: #FFFFFF1A;
    color: #fff;
}
@media  screen and (min-width: 768px) {
    .side-slider .card {
        max-width: 500px;
        margin: auto;
    }
}
.side-slider .caro .owl-nav {
    justify-content: center;
    width: 100%;
        bottom: -133%;
}
@media screen and (min-width: 768px) {
    .side-slider .caro .owl-nav {
        bottom: -133%;
    }
}
@media screen and (min-width: 992px) {
    .side-slider .caro .owl-nav {
            left: 12.5%;
            justify-content: flex-start;
            bottom: -133%;
        }
}
/* ===navbar=== */
nav .logo-img{
    width: 6%;
}
a {
    text-decoration: none;
}
@media screen and (min-width: 992px) {
    nav .logo-img {
            width: 4%;
        }
}
nav .dropdown-menu {
    width: 300px;
}
nav button.navbar-toggler:focus {
    --bs-navbar-toggler-focus-width:0
}
nav .nav-item a{
    position: relative;
    width: fit-content;
    font-size: 18px;
    font-weight: 600;
}
nav .nav-item a.active-green.arrow-hover::after {
    border-color: transparent transparent transparent #278834;
}
nav .nav-item a.arrow-hover::after {  
 content: "";
 position: absolute;
 right:0;
 top: 50%;
 transform: translate(120%, -50%);
 border: 5px solid;
 border-color: transparent transparent transparent #000;
}
@media screen and (min-width: 992px) {
    nav .nav-item a.arrow-hover::after {
        border-color: #000 transparent transparent transparent;
        transform: translateX(60%);
    }
        nav .nav-item a.active-green.arrow-hover::after {
            border-color: var(--main-green) transparent transparent transparent ;
        }
}
nav .contact-btn {
    color: #273B46;
    border: 1px solid #273B46;
    border-radius: 0;
    padding: 5px 16px;
}
.contact-btn:hover {
    border: 1px solid #273B46;
}
nav .hover-dropdown .list-group-item a,
nav .dropdown-menu .dropdown-item {
    font-size: 16px;
    font-weight: 500;
}
nav .dropdown-menu li {
    border-bottom: 1px solid #ddd;
}
nav .hover-dropdown .list-group-item,
nav .dropdown-menu li {
    transition: background-color 0.3s;
}
nav .hover-dropdown .list-group-item:hover,
nav .dropdown-menu li:hover {
    background-color: #273B46 !important;
}
nav .hover-dropdown .list-group-item a,
nav .dropdown-menu li a {
    transition: color 0.3s;
}
nav .dropdown-menu li a:focus {
    background-color: var(--main-color);
}
nav .dropdown-menu {
    --bs-dropdown-min-width: 20rem;
    padding: 0;
}
nav .dropdown-menu li a {
    display: block;
    width: 100%;
    padding: 10px;
}
nav .hover-dropdown .list-group-item:hover a,
nav .dropdown-menu li:hover a {
    color: #fff;
}
nav .dropdown-menu li a:hover {
    --bs-dropdown-link-hover-bg: none;
}
nav .list-group-horizontal .list-group-item{
    border: none;
}
nav .hover-dropdown {
    transform: translate(30%, 5%);
        background: #fff;
        justify-content: center;
        align-items: center;
        padding: 20px;
        display: none !important;
        z-index: 1;
}
nav .hover-parent:hover .hover-dropdown {
    display: block !important;
}
@media screen and (min-width: 992px) {
    nav .hover-dropdown {
        transform: translate(2%, 25%);
        width: 650px;
    }
    nav .hover-parent:hover .hover-dropdown {
        display: flex !important;
    }
}

@media screen and (min-width: 992px) {
    nav .hover-dropdown .line-right::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: #00000040;
            top: 0;
            right: -13px;
        }
}
/* ===header=== */
header .main-header{
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-image: url("../images/home-page/dotts/header-mobile.png");
    background-color: var(--main-color);
    background-repeat: no-repeat;
    background-size: 20%;    
}
@media screen and (min-width: 992px) {
    header .main-header {
        background-image: url("../images/home-page/dotts/header.png");
        background-position: center center;
        background-size: cover;
    }
}
@media screen and (min-width: 768px) {
    header .main-header {
        padding-top: calc(var(--main-section-padding) - 30px);
    }
}

@media screen and (min-width: 768px) {
    header .main-header {
        height: calc(100vh - 80px);
    }
}
header .main-header .text-content .text h2, 
header .main-header .text-content .text p {
    color: #fff;
        font-size: 1.5625rem;
        /* font-weight: 500; */
        line-height: 2.375rem;
}
/* ===Vision=== */
#vision {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-color: var(--main-white-section-bg);
    /* z-index: -2; */
    position: relative;
    background-image: url("../images/home-page/dotts/vision-top-left-mobile.png"), url("../images/home-page/dotts/vision-bottom-right-mobile.png");
    background-repeat: no-repeat;
    background-position: 0 500px, right 950px;
    background-size: 40%, 30%;
}
@media screen and (min-width: 992px) {
    #vision {
            background-image: url("../images/home-page/dotts/vision-top-left.png"), url("../images/home-page/dotts/vision-bottom-center.png"), url("../images/home-page/dotts/vision-top-left.png"), url("../images/home-page/dotts/vision-left-bottom.png") ;
            background-position: 10px top, 450px 470px, 1200px top, 1250px 550px !important;
            background-size: 20%, 20%, 20%, 10% !important;
    }
}
@media screen and (min-width: 768px) {
    #vision {
            background-position: top left;
            background-size: 30%;
    }
}
#vision .v-text-content {
    color: var(--dark-text);
}
#vision .section-title span {
    width: 35px;
}
#vision .v-text-content .cards .img-container {
    width: 40px;
    display: block;
    background: red;
}
#vision .v-text-content .cards .box {
    background-color: #273B461A;
}
#vision .v-text-content .cards .box p {
    font-size: 14px;
}
#vision .v-image-container .arrow-icons-container span {
    position: absolute;
    width: 100px;
}
#vision .v-image-container .arrow-icons-container {
    position: absolute;
    z-index: -1;
}
#vision .v-image-container .arrow-icons-container.arrow-top {
    top: 55px;
    left: -35px;
}
#vision .v-image-container .arrow-icons-container span.gray-arrow {
    top: -25px;
    left: 20px;
    z-index: 1;
    width: 80px;
}
#vision .v-image-container .arrow-icons-container.arrow-bottom {
    bottom: 50px;
    right: -40px;
    transform: rotate(180deg);
}
/* ===mission=== */
#mission {
    background-color: var(--main-color);
}
@media screen and (min-width: 992px) {
    #mission {
        background-image: url("../images/home-page/dotts/mission.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}
#mission .m-text-content {
    padding-top: var(--main-section-padding);
    padding-bottom:calc(var(--main-section-padding) - 10px) ;
}
#mission .text .m-card .ittr-mission {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mission .text .m-cards-container {
    counter-reset: m-card-counter;
}
#mission .text .m-card .ittr-mission::before {
    counter-increment: m-card-counter;
            content: counter(m-card-counter);
            position: absolute;
            font-size: 64px;
            font-weight: 700;
            color: #fff;
            transform: translateY(-20%);
}
/* ===values=== */
#values {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-color: var(--main-white-section-bg);
    background-image: url("../images/home-page/dotts/value-top-right-mobile.png"), url("../images/home-page/dotts/value-left-center-mobile.png");
    background-repeat: no-repeat;
    background-position: top right, left center;
    background-size: 10%, 15%;
}
@media screen and (min-width:992px) {
    #values {
        background-image: url("../images/home-page/dotts/value.png");
        background-position: center center ;
        background-size: cover;
    }
}
#values .v-title {
    background-color: var(--main-color);
    width: fit-content;
}
#values .v-items .item-layer {
    background-color:  #273B461A;
    position: relative;
}
#values .v-items .item-layer::after,
#values .v-items .item-layer::before {
content: url("../icons/Subtract.png");
position: absolute;
}
#values .v-items .item-layer::after {
    top: 0;
    right: 0;
    transform: translate(23%, -23%);
}
#values .v-items .item-layer::before {
    bottom: 0;
    left: 0;
    transform: translate(-23%, 23%) rotate(180deg);
}
#values .v-items .item-icon {
    display: block;
    width: 45px;
}
#values .v-items .read-link {
    color: var(--main-color);
    /* position: relative; */
    display: block;
}
#values .v-items .read-link::before {
        content: "";
            display: inline-block;
            width: 40px;
            height: 2px;
            background-color: var(--main-green);
            vertical-align: middle;
            margin-right: 10px;
}
/* ===contact=== */
#contact {
padding-top: var(--main-section-padding);
}
#contact .c-title {
    width: fit-content;
}
#contact .c-title h2 {
    color: var(--dark-text);
}
#contact .c-title .arrow-icons-container span{
    width: 50px;
    transform: rotate(155deg);
}
#contact .c-title .arrow-icons-container span.gray-arrow {
    position: absolute;
    width: 35px !important;
    top: 50%;
    left: 25%;
    width: 50px;
        
}
#contact .ask-message {
    background-color:#273B4680;;
}
#contact .ask-message button {
    background-color: var(--main-color);
}
#contact .ask-message input{
    padding: 12px 10px !important;
}
#contact .ask-message input::placeholder {
    color: #000;
}
/* ===footer=== */
 .communication {
    background-color:#3d4f59 !important;
}
 .communication .c-list .c-card.b-contact{
    border-bottom: 1px solid #fff;

}
@media screen and (min-width: 768px) {
     .communication .c-list .c-card.b-contact {
        border-right: 1px solid;
        border-bottom: transparent;
    }
}
 .communication .dot-image{
    position: absolute;
    bottom:-20px;
    right: 0;
    width: 25%;
}
footer .footer-links {
    background-color: var(--main-color);
    background-image: url("../images/home-page/dotts/footer-center-bottom.png"), url("../images/home-page/dotts/footer-center-left.png");
    background-repeat: no-repeat;
    background-position: center bottom, left ;
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
}
@media screen and (min-width: 992px) {
    footer .footer-links {
        background-position: center bottom, left bottom;
    }
}
footer .footer-links .quick-links ul li{ 
    background-color: transparent;
    color: #fff;
    padding-left: 0;
    border-radius: 0;
    transition: background-color 0.3s, padding 0.3s;
}
footer .footer-links .quick-links ul li:hover {
    background-color: #3D4F59;
    padding-left: 10px;
}
footer .footer-links .quick-links ul li.arrow a::before {
    content: "";
    position: absolute;
    border: 7px solid;
    top: 30%;
    border-color: transparent transparent transparent var(--main-green);
    left: 4px;
}
footer .footer-links .social-list li a {
    transition: color 0.3s;
}
footer .footer-links .social-list li a:hover {
    color: #4D4F59;
}

/* ========================= consulting page ======================================= */
#consulting-header .cons-header {
    padding-top: var(--main-section-padding);
    padding-bottom: calc(var(--main-section-padding) - 50px);
    background-image: url("../images/home-page/dotts/finintial-mobile.png");
    background-size: cover;
    background-position: center center;
}
@media screen and (min-width: 992px) {
    #consulting-header .cons-header {
        background-image: url("../images/home-page/dotts/finintial-bg.png");
    }
}

/* body navbar */
.body-nav .body-nav-list li button{
    color: #000;
    padding: 15px;
    font-size: 17px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}
.body-nav .body-nav-list li button.active,
.body-nav .body-nav-list li button:hover {
    background-color: var(--main-green);
    color: #fff;
}
/* ===advice=== */
.account,
.advice {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-image: url("../images/consulting-page/dotts/advice.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.advice {
    padding-bottom: 0;
}
.account {
    background-image: url("../images/consulting-page/dotts/account-dot.png");
    padding-top: calc(var(--main-section-padding) + 8rem);
}
.account .img-container::after,
.advice .img-container::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
}
.account .img-container::after {
    transform: translateX(-100%);
}
.account .content,
.advice .content {
    background-color: var(--main-color);
    padding: 70px 40px;
    position: relative;
}
@media screen and (min-width: 992px) {
    .advice.serv {
        display: flex;
        align-items: end;
    }
    .advice .content {
        transform: translateY(25%);
    }
    .advice.serv .content {
        transform: translateY(0);
        padding: 20px 40px;
        height: 100%;
    }
    .account .img-container {
        transform: translateY(-10%);
    }
        .advice.serv .content p {
            font-size: 16px;
        }
}
.green-line {
    position: relative;
}
.green-line::after {
    content: "";
    width: 50%;
    height: 6px;
    position: absolute;
    bottom: -15px;
    left: 0;
    background-color: var(--main-green);
}
.advice.serv .img-container img.blured{
    transition: filter 0.3s 0.5s;
}
.advice.serv .img-container:hover img.blured {
    filter: blur(3px);
}
.advice.serv .img-section {
    background-color: var(--main-color);
}
.advice.serv .img-container {
    overflow: hidden;
}
.advice.serv .img-container .text-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    background-color: blur(8px);
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s;
}
.advice.serv {
    padding: 0;
}
.advice.serv .img-container:hover .text-hover {
    transform: translateX(0);
}
@media screen and (min-width: 992px) {
    .advice.serv .img-container .text-hover {
        justify-content: flex-start;
    }
    .advice.serv .img-container .text-hover ul li {
        font-size: 20px;
    }
}
.advice.serv .img-container .text-hover .hover-header{
    max-width: 350px;
}
.advice.serv .img-container .text-hover li {
    margin-top: 10px;
}
.advice.serv .img-container .text-hover li .hover-icon {
    width: 30px;
}
/* business */
.business {
    background-image: url("../images/consulting-page/bussines-img.png");
    background-size: cover;
    padding: var(--main-section-padding) 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.business .content p {
    max-width: 1000px;
}
/* news */
.news {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-color: var(--main-white-section-bg);
}
.news .n-title {
    text-align: center;
    width: fit-content;
    margin: auto;
    position: relative;
    display: flex;
    gap: 10px;
}
.news .n-title h2 {
    font-weight: 700;
        font-size: 2rem;
}
.news .n-title .n-icon {
    width: 45px;
}   
.owl-carousel.new {
    display: flex;
    flex-direction: column;
}
.owl-carousel.new .owl-dots {
    background-color: #0000001A;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.owl-carousel.new .owl-dots .owl-dot {
    width: 200px !important;
    height: 7px !important;
}
.owl-carousel.new .owl-dots .owl-dot.active {
        background-color: var(--main-color) !important;
}
.testimonials.white-test .owl-nav,
.owl-carousel.new .owl-nav {
display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        order: 1;
}
.testimonials.white-test .owl-nav button span,
.strategy .slid .owl-nav button span,
.owl-carousel.new .owl-nav button span{
    border: 1px solid var(--main-color) !important;
    display: block;
    width: 50px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ;
}
.testimonials.white-test .owl-nav button,
.strategy .slid .owl-nav button,
.owl-carousel.new .owl-nav button {
    transition: background-color 0.3s;
}
.testimonials.white-test .owl-nav button:hover,
.strategy .slid .owl-nav button:hover,
.owl-carousel.new .owl-nav button:hover {
    --main-green: #273B46;
    background-color: var(--main-green);
}
.testimonials.white-test .owl-nav button span::after,
.strategy .slid .owl-nav button span::after,
.owl-carousel.new .owl-nav button span::after {
    content: url("../icons/black-arrow.png");
    position: absolute;
}
.testimonials.white-test .owl-nav button:hover span:after,
.strategy .slid .owl-nav button:hover span::after,
.owl-carousel.new .owl-nav button:hover span::after {
    content: "" !important;
}
.testimonials.white-test .owl-nav button.owl-prev span::after
.strategy .slid .owl-nav button.owl-prev span::after,
.owl-carousel.new .owl-nav button.owl-prev span::after {
    rotate: 180deg;
}
.owl-carousel.new .n-card {
    color: #000;
}
.owl-carousel.new .n-card .n-read  {
    text-align: end;
    font-weight: 500;
    color: #000;
    position: relative;
    width: fit-content;
    text-transform: uppercase;
}
.owl-carousel.new .n-card .n-read::before {
    content: "";
    position: absolute;
    width: 25%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
}
.owl-carousel.new .n-card .image-container .hover-bage{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    transform: translateY(-150%);
    transition: transform 0.5s;
}
.owl-carousel.new .n-card:hover .image-container .hover-bage {
    transform: translateY(0);
}
/* testimonials */
.testimonials {
    background-color: var(--main-color);
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
}
.testimonials .caro-header {
    margin-bottom: 30px;
}
.owl-carousel.test .owl-nav {
    top: -65px;
}
.news.dark-news .owl-nav button span,
.owl-carousel.test .owl-nav button span {
    border-color: #fff;
    position: relative;
}
.news.dark-news .owl-nav button span::after,
.owl-carousel.test .owl-nav button span::after {
    content: url("../icons/black-arrow.png") !important;
    z-index: 1;
    display: none;
}
.news.dark-news .owl-nav button.owl-prev span::after,
.owl-carousel.test .owl-nav button.owl-prev span::after {
    rotate: 180deg;
}
.news.dark-news .owl-nav button:hover span::after,
.owl-carousel.test .owl-nav button:hover span::after {
    display: block;
}
.news.dark-news .owl-nav button:hover span img,
.owl-carousel.test .owl-nav button:hover span img{
    display: none;
}
.news.dark-news .owl-nav button span:hover,
.owl-carousel.test .owl-nav button span:hover {
    background-color: #fff;
}
.owl-carousel.test .owl-dots {
    margin-top: 45px;
}
.owl-carousel.test .owl-dots .owl-dot.active span {
    background-color: #fff !important;
}
.owl-carousel.test .t-card{
    background-color: #FFFFFF0D;
    border: 1px solid #FFFFFF1A;
    padding: 20px 15px;
}
.owl-carousel.test .t-card .t-card-header .date {
    font-size: .875rem;
}
.owl-carousel.test .t-card .t-card-body p {
    font-size: .875rem;
    margin: 15px 0;
}
.owl-carousel.test .t-card .t-card-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.owl-carousel.test .t-card .t-card-footer li i.fa-star.fa-solid {
    color: #fec70f;
}
/* marketing */
.marketing {
    padding-top: calc(var(--main-section-padding) + 2rem);
    padding-bottom: var(--main-section-padding);
}
@media screen and (min-width: 992px) {
    .marketing {
        background-image: url("../images/consulting-page/dotts/marketing-dot.png");
        background-size: cover;
    }
}
.marketing .m-content {
    padding: 80px 40px;
    background-color: var(--main-color);
}
.marketing .m-content .m-header .m-icon {
    width: 70px;
}
.marketing .m-content .m-body h3 {
    font-weight: 700;
}
.marketing .img-container::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 150%;
    height: 40%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
@media screen and (min-width: 992px) {
    .marketing .img-container::after {
        display: none;
    }
    .marketing .m-content::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 20%;
            height: 100%;
            background-color: var(--main-color);
            transform: translateX(99%);
            z-index: -1;
        }
    
        .marketing .m-content::before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 150%;
            height: 50%;
            background-color: var(--main-color);
            transform: translateX(99%);
        }
}

/* solution */
@media screen and (min-width: 992px){
.marketing.solution {
background-image: url("../images/consulting-page/dotts/solution-dots.png");
background-size: cover;
}
.marketing.solution .m-content::before {
    transform: translateX(-50%);
    height: 40%;
}
.marketing.solution .m-content::after {
    width: 60%;
    transform: translateX(-100%);
}

}

/* strategy */
.strategy {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    color: var(--dark-text);
}
@media screen and (min-width: 992px) {
    .strategy .before-container {
            margin-top: 6%;
    }
}
.strategy .before-container::before{
 content: "";
 position: absolute;
 top: 0;
 left: 50%;
 transform: translate(-50%, -30%);
 width: 100%;
 height: 50%;
 background-color: var(--main-color);
 z-index: -1;

}
.strategy .slid .box {
    background-color: #273B461A;
    color: var(--dark-text);
    font-size: 11px;
}
.strategy .slid .s-car-head .s-icon {
    width: 40px;
}
@media screen and (min-width: 992px) {
    .strategy .slid .s-car-head {
        display: flex;
        gap: 20px;
    }
}
.main-icon-hover {
    transition: margin 0.5s;
}
a:hover .main-icon-hover {
    margin-left: 5px;
}
.strategy .slid .owl-dots {
    display: none;
}
.btn-bg-dark {
    background-color: var(--main-color) !important;
}

.btn-border-dark {
    border: 1px solid var(--main-color) !important;
}
.main-hover:hover {
    background-color: var(--main-color) !important;
    color: #fff;
}
/* digital */
.digital {
    background-image: url("../images/consulting-page/digital-img.png");
    background-size: cover;
    padding: var(--main-section-padding) 0;
    color: #fff;
}
.digital .d-title h3 {
    font-weight: 700;
}
.digital .d-title p {
    max-width: 400px;
    margin: 20px auto;
}
.digital .cards .d-card {
    background-color: #FFFFFF1A;
    padding: 20px;
}
@media screen and (min-width: 1200px) {
    .digital .cards .d-card p {
        font-size: 10px;
    }
    .digital .cards .d-card {
        height: 130px;
    }
}
/* research */
.advice.research .img-section .text-hover .hover-list li p {
    font-size: .875rem !important;
    max-width: 350px;
}
.advice button span {
    transition: margin 0.5s;
}
.advice button:hover span {
    margin-left: 10px;
}
.advice.research .desc-content {
    max-width: 350px;
    font-size: 1.25rem;
    font-weight: 500;
}
/* orgnization */
.orgnization {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-color: #F5F1F0;
}
@media screen and (min-width: 992px) {
    .orgnization {
        background-image: url("../images/consulting-page/dotts/orgnization-dot.png");
        background-image: cover;
        background-position: center center;
    }
}
.orgnization .z-content .fill-content {
    background-color: var(--main-color);
    padding: 5rem 2.5rem;
    color: #fff;
    position: relative;

}
.orgnization .z-content .fill-content::after {
    content: "";
        position: absolute;
        width: 150%;
        height: 133%;
        bottom: 0;
        right: 50%;
        background-color: var(--main-color);
        transform: translateX(50%);
}
@media screen and (min-width: 992px) {
.orgnization .z-content .fill-content::after {
        height: 125%;
        width: 20%;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(99%);
    }
}
.orgnization .z-content .z-icon {
    width: 70px;
}
.orgnization .z-content .text-content {
    margin-left: 1.875rem;
    margin-top: 1.25rem;
}
.orgnization .z-content .text-content h3 {
    font-size: 2rem;
    font-weight: 700;
}
/* resorces */
@media screen and (min-width: 992px) {
    .orgnization.resorce {
        background-image: url("../images/consulting-page/dotts/resourses-dot.png");
        background-size: cover;
        background-position: center center;
    }
.orgnization.resorce .z-content .fill-content::after {
    right: 100%;
    transform: translateX(0);
    height: 100%;
}
}

/* ========================= About page ======================================= */
header .about-header {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-color: var(--main-color);
    background-image: url("../images/about-images/dotts/about-head-dot.png");
    background-size: cover;
}
.h-title {
    width: fit-content;
    
}
@media screen and (min-width: 992px) {
    .h-title-a {
        margin-left: -50px
    }
}
.h-title h2 {
    font-size: 32px;
    font-weight: 700;
}
.h-title .h-icon {
    width: 50px;
}
header .content .img-container .icon-img {
    position: absolute !important;
    bottom: 7%;
    left: -11%;
    width: 150px;
}
header .content .img-container .icon-img.top-icon {
    bottom: 65%;
    left: 86%;
    rotate: 180deg;
}
header .about-header .text-content p{
    max-width: 34.375rem;
}
/* about apex */
.about-apex {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-color:#283C471A;
    color: var(--dark-text);
    text-align: center;
}
/* dark news */
.news.dark-news {
    background-color: var(--main-color);
}
.news.dark-news .owl-dots .owl-dot.active {
    background-color: #fff !important;
}
.news.dark-news .owl-dots {
    background-color: #FFFFFF1A;
}
.news.dark-news .owl-nav button span {
    border-color:  #fff !important;
}
/* white testimonials */
.testimonials.white-test {
    background-color: var(--main-white-section-bg);
    color: var(--dark-text);
}
.testimonials.white-test .t-card {
    background-color: #273B460D;
}
.testimonials.white-test .t-card p {
    background: #273B460D;
    border: 1px solid #922CBD0D;
    border-radius: 10px;
    padding: 10px;
}
.testimonials.white-test .owl-dots .owl-dot span{
    height: 3px;
    width: 48px;
}
.testimonials.white-test .owl-dots .owl-dot.active span {
    background-color: var(--main-color) !important;
}
.testimonials.white-test .owl-nav button:hover span {
    background-color: var(--main-color);
}
.testimonials.white-test .owl-nav button:hover span img {
    display: block;
}
.testimonials.white-test .owl-nav button span img {
    display: none !important;
}
.testimonials.white-test .owl-nav button:hover span img {
display: block !important;
}
.testimonials.white-test .owl-nav button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials.white-test .owl-nav button::after {
    content: url("../icons/black-arrow.png") !important;
    position: absolute;
}
.testimonials.white-test .owl-nav button:hover::after {
    content: "" !important;
}
.testimonials.white-test .owl-nav button.owl-prev::after {
    rotate: 180deg;
}
/* ========================= Contact page ======================================= */
.contact-form {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-color: var(--main-white-section-bg);
    background-image: url("../images/contact-page/contact-dots.png");
    background-size: cover;
    background-position: center center;
}
.contact-form .contact-content form div label {
    color: #000 !important;
    font-weight: 600;
}
.contact-form .contact-content form div textarea,
.contact-form .contact-content form div input{
    border-color: transparent transparent #000 transparent;
    border-radius: 0;
    background-color: transparent;
}
.contact-form .contact-content form div input:focus {
    box-shadow: none;
}
.contact-form .contact-content form div textarea {
    resize: none;
}
.contact-form .contact-content form div textarea::placeholder {
    color: #000;
    font-weight: 500;
}
.contact-form .contact-content form div button {
    background-color: var(--dark-text);
    color: #fff;  
    margin-top: 40px;
    font-weight: 600;
    border-radius: 0;
    padding: 10px 0;
}
.contact-form .contact-content form div button:hover {
    background-color: #244354;
}
@media screen and (min-width: 768px) {
    .communication.contact-us .c-list .c-card.b-contact {
        border-right: transparent;
        border-bottom: 1px solid;
    }
}